

@model List<Shoping_Site.Models.Secundarias.Articulo>


<section id="conetenedor">

    <section class="carrito" id="comun">
        <br><br><h3>Mi Carrito de Compras</h3><br>
        <ul>
            @foreach (var item in Model)
            {
                <li id=@item.ID>
                    <form action="../Tienda/EliminarArticuloCarrito" method="POST">
                        <p>Nombre: @item.Nombre</p>
                        <p>Precio: @item.Precio</p>
                        <img src="http://www.humordeanimales.com/wp-content/uploads/2015/07/perro-esponjoso.jpg" id="imagenVenta">
                        <!-- elemento oculto para el paso de datos -->
                        <input id="oculto" name="idArticulo" type="text" value=@item.ID />
                        <p>Cantidad @item.Cantidad</p>
                        <p style="margin-right: 8%"><input id="boton" type="submit" value="Editar Cantidad" /></p>
                        <input id="botonCentrado" type="number" value=@item.Cantidad min="0" max=@item.CantidadMaxima name="cantidad" />
                    </form>
                </li>
            }
        </ul>
    </section>

    <section>
        <form action="../Tienda/hacerPago" method="POST" id="botonesCarrito">
            <p><input id="botonCentrado" type="submit" value="Procesar Compra" /></p><br>
            <h3 style="color: white">Monto: @ViewBag.precioTotal Colones</h3>
        </form>
    </section>

</section>
