
<div class="contenedorPrimario" id="pagInicio">
    <section class="navBar" id="navBar">
        <ul>
            <li id="etiquetasMenu" style="margin-top: 0%;">
                <a> @Html.ActionLink("Menú Admin", "VerificAdmin", "Login", new { area = "" }, new { @class = "navbar-brand" })</a>
            </li>
        </ul>
    </section>
</div>
<section class="articulos" id="comun">
    @ViewBag.msj
</section>