
@using (Html.BeginForm("anadirArticuloAlInventario", "Tienda", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <body onload="mostrarCrearCuenta()">
        <div class="contenedorPrimario" id="pagInicio">
            <section class="navBar" id="navBar">
                <ul>
                    <li id="etiquetasMenu" style="margin-top: 0%;">
                        <a> @Html.ActionLink("Menú Admin", "VerificAdmin", "Login", new { area = "" }, new { @class = "navbar-brand" })</a>
                    </li>
                </ul>
            </section>
        </div>

        <section class="contenido" id="pagCrearCuenta">
            <h1> Añadir Objetos Al Inventario </h1>
            <form action="../Tienda/anadirArticuloAlInventario" method="POST">
                <p>
                    Nombre <input type="text" maxlength="100" value="" id="textspace" name="nombre" />
                    Precio  <input type="number" value="0" id="textspace" name="precio" />
                    Cantidad <input type="number" value="0" id="textspace" name="cantidad" />
                    Imagen <input type="file" id="textoJustificado" name="imgUpdate"><br><br>
                    <input type="submit" value="Insertar Producto" id="boton" /><br>
                </p>
            </form>
            <h3 style="padding: 5% 0% 10% 45%;">@ViewBag.msj</h3>
        </section>
    </body>
}



