<div class="contenedorPrimario" id="pagInicio">
    <section class="navBar" id="navBar">
        <ul>
            <li id="etiquetasMenu" style="margin-top: 0%;">
                <a>@Html.ActionLink("Inicio", "Index", "Login", new { area = "" }, new { @class = "navbar-brand" })</a>
            </li>
            <li id="etiquetasMenu" style="margin-top: 0%;">
                <a> @Html.ActionLink("Menú Admin", "VerificAdmin", "Login", new { area = "" }, new { @class = "navbar-brand" })</a>
            </li>
            <li id="etiquetasMenu" style="margin-top: 0%;">
                <a>@Html.ActionLink("Salir", "Index", "Login", new { area = "" }, new { @class = "navbar-brand" })</a>
            </li>
        </ul>
    </section>
</div>

<div class="contenedorPrimario" id="pagInicio">
    <section class="articulos" id="comun">
        <br><h3>Error, no hemos logrado actualizar la información</h3><br>
    </section>
</div>