


@model List<Shoping_Site.Models.Secundarias.Articulo>

<div class="contenedorPrimario" id="pagInicio">
    <section class="articulos" id="comun">
        <br><h3>Tienda</h3><br>
        <ul>
            @foreach (var item in ViewBag.pets)
            {
                <li id=@item.ID>
                    <form action="../Tienda/ArticuloAlCarrito" method="POST">
                        <p>Nombre: @item.nombre</p>
                        <p>Precio: @item.precio</p>
                        <img src="http://www.humordeanimales.com/wp-content/uploads/2015/07/perro-esponjoso.jpg" id="imagenVenta">
                        <p>Agregar al carro</p>
                        <!-- elemento oculto para el paso de datos -->
                        <input id="oculto" name="articulo" type="text" value=@item.ID />
                        <p><input id="botonCentrado" type="submit" value="Añadir" /></p>
                    </form>
                    <form action="../Tienda/VerArticuloEspecifico" method="POST">
                        <input id="oculto" name="articulo" type="text" value=@item.ID />
                        <p><input id="botonCentrado" type="submit" value="Ver" /></p>
                    </form>
                </li>
            }
        </ul>
    </section>
</div>