
<section class="carrito" id="seccionMsj">
    <section class="comunEspecifico" id="part1">
        <form id="imgArticulo">
            <img src="http://cde.3.depor.pe/ima/0/0/0/8/3/83663.jpg" id="imagenVenta" />
        </form>
        <form style="text-align:center">
            <h4 style="margin-top: 160px;">Calificacion</h4>
        </form>
    </section>
   
    <section class="comunEspecifico" id="part2">
        <h2 style="text-align:center;">Comentarios</h2>
        <!-- por cada comentario se va a crear una caja -->
        <form id="comentario">
            xxx
        </form>

        <form id="comentario">
            xxx
        </form>

        <form id="comentario">
            xxx
        </form>
    </section>


    <section class="comunEspecifico" id="part3">
        <h3 style="text-align:center">Recomendaciones</h3>

        <form action="" method="POST" id="articuloRec">
            <p>Nombre: </p>
            <p>Precio: </p>
            <img src="http://www.humordeanimales.com/wp-content/uploads/2015/07/perro-esponjoso.jpg" id="imagenVenta">
            <!-- elemento oculto para el paso de datos -->
            <input id="oculto" name="idArticulo" type="text" value="" />
            <p><input id="botonCentrado" type="submit" value="Eliminar" /></p>
        </form>

        <form action="" method="POST" id="articuloRec">
            <p>Nombre: </p>
            <p>Precio: </p>
            <img src="http://www.humordeanimales.com/wp-content/uploads/2015/07/perro-esponjoso.jpg" id="imagenVenta">
            <!-- elemento oculto para el paso de datos -->
            <input id="oculto" name="idArticulo" type="text" value="" />
            <p><input id="botonCentrado" type="submit" value="Eliminar" /></p>
        </form>
        <form action="" method="POST" id="articuloRec">
            <p>Nombre: </p>
            <p>Precio: </p>
            <img src="http://www.humordeanimales.com/wp-content/uploads/2015/07/perro-esponjoso.jpg" id="imagenVenta">
            <!-- elemento oculto para el paso de datos -->
            <input id="oculto" name="idArticulo" type="text" value="" />
            <p><input id="botonCentrado" type="submit" value="Eliminar" /></p>
        </form>

        <form action="" method="POST" id="articuloRec">
            <p>Nombre: </p>
            <p>Precio: </p>
            <img src="http://www.humordeanimales.com/wp-content/uploads/2015/07/perro-esponjoso.jpg" id="imagenVenta">
            <!-- elemento oculto para el paso de datos -->
            <input id="oculto" name="idArticulo" type="text" value="" />
            <p><input id="botonCentrado" type="submit" value="Eliminar" /></p>
        </form>

    </section>