<body onload="mostrarCrearCuenta()">
    <section class="contenido" id="pagCrearCuenta">
        <h1> Crear Cuenta </h1>
        <p>
            Nombre
            <input type="text" value="" id="name" />
            Usuario
            <input type="text" value="" id="user" />
            Contraseña
            <input type="text" value="" id="cont" />
            Mail
            <input type="text" value="" id="mail" />
        </p>
    </section>
</body>