<div class="contenedorPrimario" id="pagInicio">
    <section class="navBar" id="navBar">
        <ul>
            <li id="etiquetasMenu">
                <a>@Html.ActionLink("Tienda", "Index", "Tienda", new { area = "" }, new { @class = "navbar-brand" })</a>
            </li>
            <li id="etiquetasMenu">
                <a> @Html.ActionLink("Carrito", "Carrito", "Tienda", new { area = "" }, new { @class = "navbar-brand" })</a>
            </li>
            <li id="etiquetasMenu">
                <a>@Html.ActionLink("Ingresar", "Index", "Login", new { area = "" }, new { @class = "navbar-brand" })</a>
            </li>
        </ul>
    </section>
</div>
<body onload="mostrarContenido()">
    <section class="contenido" id="contenido">
        <h1 id="textoJustificado">Bienvenido @ViewBag.User, ya puedes usar la tienda</h1>
        <!-- este form toma los datos y los envia a la capa de controller  -->
        <form action="../Tienda/Index" method="POST">
            <p><input id="botonCentrado" type="submit" value="Ir a la tienda" /></p>
        </form>
    </section>
</body>