

<body onload="mostrarContenido()">
    <br><br><br><br><br><br>
    <section class="contenido" id="contenido">
        <h1> Login Admin </h1>
        <img src="https://lh3.googleusercontent.com/4Mojdl1nD4YzrDneY56JOG7bp6V1F7lg67iDFKSsnjMR0ZwaoR1swgLdn7ysMqp4zk3x16s=s170">

        <!-- este form toma los datos y los envia a la capa de controller  -->
        <form action="../Login/VerificAdmin" method="POST">
            <p>
                Usuario Admin <input type="text" maxlength="25" value="" id="textspace" name="txtuser" />
                Contraseña Admin <input type="text" maxlength="25" value="" id="textspace" name="txtcont" />
                <input type="submit" value="Iniciar Sesión" style="padding: 5%; border-radius: 20px;" /><br>
                <a href="../Login/crearCuenta" class="hiperlink">¿No tienes una cuenta?</a>
            </p>
        </form>
    </section>
</body>