

<section class="contenedorPerfil">
    <section id="div1">
        <h2>Buscador Usuarios</h2>
        <br>
        <form class="div11">
            <input type="text" value="" id="cajaTexto">
            <input type="submit" value="Buscar" id="botonPerfil">
            <br><br>
        </form>
        <form>
            <div id="div1_1">
                <h3>Nombre: </h3>
                <h3>Username: </h3>
                <input style="margin-left: 73%;" type="submit" value="Agregar" id="botonPerfil" />
            </div>
        </form>
    </section>

    <section>
        <div id="div1">
            <h2>Mis Amigos</h2>
            <br><br><br><br>
            <form>
                <div id="div1_1">
                    <h3>Nombre: </h3>
                    <h3>Username: </h3>
                    <input style="margin-left: 73%;" type="submit" value="Consultar" id="botonPerfil" />
                </div>
            </form>
        </div>
    </section>



    <div id="div1">
        <h2>Productos de mis amigos</h2>
    </div>

</section>