

<body onload="mostrarContenido()">
    <section class="contenido" id="contenido">
        <h1 id="textoJustificado">Bienvenido @ViewBag.UserAdmin ya puedes usar el modo de administrador</h1>
        <br><br>
        <!-- Aqui van todas las funcionalidades del admin  -->
        <form action="" method="POST">
            <p><input id="boton" type="submit" value="xxx" /></p>
        </form>
        <form action="" method="POST">
            <p><input id="boton" type="submit" value="Cerrar Sesión" /></p>
        </form>
        <br>
    </section>
</body>