<div class="contenedorPrimario" id="pagInicio" style="margin-left:25%;">
    <section class="navBar" id="navBar">
        <ul>
            <li id="etiquetasMenu" style="margin-top: 0%;">
                <a> @Html.ActionLink("Menú Admin", "VerificAdmin", "Login", new { area = "" }, new { @class = "navbar-brand" })</a>
            </li>
        </ul>
    </section>
</div>

<body onload="mostrarContenido()">

    <section class="contenido" id="contenido">
        <h1 id="textoJustificado">Bienvenido @ViewBag.UserAdmin ya puedes usar el modo de administrador</h1>
        <br>
        <!-- Aqui van todas las funcionalidades del admin  -->
        <form action="../Login/creaNuevoAdmin" method="POST" id="botonAdmin">
            <p><input type="submit" value="Establecer Nuevo Administrador" id="boton" /></p>
        </form>
        <form action="../Tienda/incluirArticuloAlInventario" method="POST" id="botonAdmin">
            <p><input type="submit" value="Añadir Articulo(s) al Inventario " id="boton"/></p>
        </form>

        <form action="../Tienda/editarInventario" method="POST" id="botonAdmin">
            <p><input type="submit" value="      Administrar Inventarios       " id="boton" /></p>
        </form>

        <form action="../Login/cerrarSesion" method="POST" id="botonAdmin">
            <p><input type="submit" value="Cerrar Sesión Del Administrador" id="boton"/></p>
        </form>
        <br>
    </section>
</body>